*{
    background: linear-gradient(to right, #6a6afd, #090d17);
    
background-size: cover;
}
.intro{
    height: 300px;
    width: 500px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
}

h3{
    color: #1b1414;
}
h1{
    color: #171717;
}