#p1{
      background-color: rgb(0, 0, 0);
      color: red;
}
#p2{
    background-color: rgb(212, 191, 191);
    color: red;
}
#p3{
    background-color: rgb(209, 8, 239);
    color: rgb(123, 28, 58);
}
#p4{
    background-color: rgb(28, 18, 125);
    color: yellow;
}
#p5{
    background-color: rgb(84, 239, 6);
    color: rgb(107, 92, 92);
}
#p6{
    background-color: rgb(6, 221, 245);
    color: green;
}